
<header>
    <div class="header-top mobile-hide">
        <div class="wrapper flexitem">
            <div class="left">
                <ul class="flexitem main-links">
<!--                    <li><a href="#">Blog</a></li>-->
                    <li><a href="#">Ներկայացված ապրանքներ</a></li>
                    <li><a href="#">Ցանկությունների ցուցակ</a></li>
                </ul>
            </div>
            <div class="right">
                <ul class="flexitem main-links">
                    <% if (!isAuthenticated) { %>
                        <li><a href="/login">Մուտք գործել</a></li>
                    <%  }  else { %>
                        <li><a href="#">Իմ հաշիվը</a></li>
                        <li><a href="#">Պատվերի հետևում</a></li>
                        <li>
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">Դուրս գալ</button>
                            </form>
                        </li>
                    <%  } %>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-nav">
        <div class="container">
            <div class="wrapper flexitem">
                <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                <div class="left flexitem">
                    <div class="logo">
                        <img src="../assets/logo.png" alt="easyshop">
                        <a href="/" >Easyshop</a>
                    </div>
                    <nav class="mobile-hide">
                        <ul class="flexitem second-links">
                            <li><a href="#">Գլխավոր էջ</a></li>
                            <li><a href="#">Խանութ</a></li>
                            <li class="has-child">
                                <a href="#">Կանյաք
                                    <div class="icon-small"><i class="ri-arrow-down-s-line"></i></div>
                                </a>
                                <div class="mega">
                                    <div class="container">
                                        <div class="wrapper">
                                            <% womenCategories.forEach(category => { %>
                                                <div class="flexcol">
                                                    <div class="row">
                                                        <h4><%= category.title %></h4>
                                                        <ul>
                                                            <% category.subcategories.forEach(subcategory => { %>
                                                                <li><a href="#"><%= subcategory.title %></a></li>
                                                            <% }); %>
                                                        </ul>
                                                    </div>
                                                </div>
                                            <% }); %>
                                            <div class="flexcol products">
                                                <div class="row">
                                                    <div class="media">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#">
                                                                <img src="../assets/products/apparel4.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="text-content">
                                                        <h4>Ամենապահանջված</h4>
                                                        <a href="#" class="primary-button">Պատվիրեք հիմա</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">Տղամարդիկ</a></li>
                            <li>
                                <a href="#">Սպորտ
                                    <div class="fly-item"><span>Նոր!</span></div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="right">
                    <ul class="flexitem second-links">
                        <li class="mobile-hide"><a href="#">
                                <div class="icon-large"><i class="ri-heart-line"></i></div>
                                <div class="fly-item"><span class="item-number">0</span></div>
                            </a></li>
                        <li><a href="#" class="iscart">
                                    <span class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly-item"><span class="item-number">0</span></div>
                                    </span>
                                <span class="icon-text">
                                        <span class="mini-text">Total</span>
                                        <span class="cart-total">$0.00</span>
                                    </span>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header-main mobile-hide">
        <div class="container">
            <div class="wrapper flexitem">
                <div class="left">
                    <div class="dpt-cat">
                        <div class="dpt-head">
                            <div class="main-text">Բոլոր բաժինները</div>
                            <div class="mini-text mobile-hide">Ընդհանուր 1059 ապրանք</div>
                            <a href="#" class="dpt-trigger mobile-hide">
                                <i class="ri-menu-3-line ri-xl"></i>
                            </a>
                        </div>
                        <div class="dpt-menu">
                            <ul class="second-links">
                                <% allCategories.forEach(category => { %>
                                    <li class="has-child  <%= category.description %>">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-bear-smile-line"></i></div>
                                            <%= category.title %>
                                            <% if (category.subcategories && category.subcategories.length > 0) {%>
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            <% }; %>
                                        </a>
                                        <% if (category.subcategories && category.subcategories.length > 0) { %>
                                            <% if (category.description !== 'homekit') { %>
                                                <ul>
                                                    <% category.subcategories.forEach(subcategory => { %>
                                                        <li><a href="#"><%= subcategory.title %></a></li>
                                                    <% }); %>
                                                </ul>
                                            <% } else { %>
                                                <div class="mega">

                                                    <% homeCategories.forEach(category => { %>
                                                        <% let items = Object.values(category.items); %>
                                                        <% let halfLength = Math.ceil(items.length / 2); %>
                                                        <% for (let i = 0; i < halfLength; i++) { %>
                                                            <div class="flexcol">
                                                                <% let index1 = i * 2; %>
                                                                <% let index2 = index1 + 1; %>
                                                                <% if (index1 < items.length) { %>
                                                                    <% let item1 = items[index1][0]; %>
                                                                    <div class="row">
                                                                        <h4><a href="#"><%= item1.description %></a></h4>
                                                                        <ul>
                                                                            <% items[index1].forEach(item1 => { %>
                                                                                <li><a href="#"><%= item1.title %></a></li>
                                                                            <% }) %>
                                                                        </ul>
                                                                    </div>
                                                                <% } %>
                                                                <% if (index2 < items.length) { %>
                                                                    <% let item2 = items[index2][0]; %>
                                                                    <div class="row">
                                                                        <h4><a href="#"><%= item2.description %></a></h4>
                                                                        <ul>
                                                                            <% items[index2].forEach(item1 => { %>
                                                                                <li><a href="#"><%= item1.title %></a></li>
                                                                            <% }) %>
                                                                        </ul>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                        <% } %>
                                                    <% }) %>
                                                </div>


                                                    <!--                                                    <div class="mega">-->
<!--                                                        <div class="flexcol">-->
<!--                                                            <div class="row">-->
<!--                                                                <h4><a href="#">Kitchen & Dining</a></h4>-->
<!--                                                                <ul>-->
<!--                                                                    <li><a href="#">Kitchen</a></li>-->
<!--                                                                    <li><a href="#">Dining Room</a></li>-->
<!--                                                                    <li><a href="#">Pantry</a></li>-->
<!--                                                                    <li><a href="#">Great Room</a></li>-->
<!--                                                                    <li><a href="#">Breakfast Nook</a></li>-->
<!--                                                                </ul>-->
<!--                                                            </div>-->
<!--                                                            <div class="row">-->
<!--                                                                <h4><a href="#">Living </a></h4>-->
<!--                                                                <ul>-->
<!--                                                                    <li><a href="#">Living Room</a></li>-->
<!--                                                                    <li><a href="#">Family Room</a></li>-->
<!--                                                                    <li><a href="#">Sunroom</a></li>-->
<!--                                                                </ul>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="flexcol">-->
<!--                                                            <div class="row">-->
<!--                                                                <h4><a href="#">Bed & Bath</a></h4>-->
<!--                                                                <ul>-->
<!--                                                                    <li><a href="#">Bathroom</a></li>-->
<!--                                                                    <li><a href="#">Powder Room</a></li>-->
<!--                                                                    <li><a href="#">Bedroom</a></li>-->
<!--                                                                    <li><a href="#">Storage & Closet</a></li>-->
<!--                                                                    <li><a href="#">Baby & Kids</a></li>-->
<!--                                                                </ul>-->
<!--                                                            </div>-->
<!--                                                            <div class="row">-->
<!--                                                                <h4><a href="#">Utility </a></h4>-->
<!--                                                                <ul>-->
<!--                                                                    <li><a href="#">Laundry</a></li>-->
<!--                                                                    <li><a href="#">Garage</a></li>-->
<!--                                                                    <li><a href="#">Mudroom</a></li>-->
<!--                                                                </ul>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="flexcol">-->
<!--                                                            <div class="row">-->
<!--                                                                <h4><a href="#">Outdoor</a></h4>-->
<!--                                                                <ul>-->
<!--                                                                    <li><a href="#">Landscape</a></li>-->
<!--                                                                    <li><a href="#">Patio</a></li>-->
<!--                                                                    <li><a href="#">Deck</a></li>-->
<!--                                                                    <li><a href="#">Pool</a></li>-->
<!--                                                                    <li><a href="#">Backyard</a></li>-->
<!--                                                                    <li><a href="#">Porch</a></li>-->
<!--                                                                    <li><a href="#">Exterior</a></li>-->
<!--                                                                    <li><a href="#">Outdoor Kitchen</a></li>-->
<!--                                                                    <li><a href="#">Front Yard</a></li>-->
<!--                                                                    <li><a href="#">Driveway</a></li>-->
<!--                                                                    <li><a href="#">Poolhouse</a></li>-->
<!--                                                                </ul>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                            <% } %>
                                        <% }; %>
                                    </li>
                                <% }); %>


<!--                                <li class="has-child homekit">-->
<!--                                    <a href="#">-->
<!--                                        <div class="icon-large"><i class="ri-home-8-line"></i></div>-->
<!--                                        Home & Kitchen-->
<!--                                        <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>-->
<!--                                 </a>-->

<!--                                </li>-->
                                <li>
                                    <a href="#">
                                        <div class="icon-large"><i class="ri-shield-star-line"></i></div>
                                        Best Seller
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="search-box">
                        <form action="" class="search">
                            <span class="icon-large"><i class="ri-search-line"></i></span>
                            <input type="search" placeholder="Ապրանքների որոնում">
                            <button type="submit">Որոնել</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>